# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Build
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Entornos virtuales
# =========================
.venv/
venv/
env/
ENV/

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# =========================
# Linters
# =========================
.mypy_cache/
.ruff_cache/
.pyre/

# =========================
# Data / ML
# =========================
data/raw/
data/processed/
datasets/
*.parquet
*.feather

artifacts/
*.pkl
*.joblib
*.model

# =========================
# MLflow / Experimentos
# =========================
mlruns/
experiments/

# =========================
# Monitoring
# =========================
prometheus_data/

# =========================
# Logs / OS / Secrets
# =========================
logs/
*.log
.DS_Store
Thumbs.db
.env
.env.*
secrets.yml
*.db
